 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&family=Saira:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
.background{
    background-color: #F5F5F5;
}
.saira{
    font-family: 'Saira', sans-serif;
}
.popins{
    font-family: 'font-family: 'Poppins', sans-serif;';
}
.inter{
    font-family: 'Inter', sans-serif;
}

@media(max-width:640px){
    .bg-cover{
        background-image: url('/mobile-image.png');
    }
 
    .saira{
        color: white;
    }
    .popins{
        color: white;
    }
    .inter{
        color: white; 
    }
    .inter-color{
        color: #f56565;
        font-weight: bold;
    }
}